{% extends "base.html" %}

{% block body %}
<!-- <div style="color:red; font-size:2em;">hello world, {{ name }}</div>
<div style="color:#123456;">hello world, joe</div>
<div style="color:red;">hello world, scott</div> -->

<div class="colorful-text">
  <!-- <div class="colorful-text">hello world, {{ name }}</div>
  <div class="colorful-text">hello world, joe</div>
  <div class="colorful-text">hello world, scott</div> -->
  <!-- <div>hello world, {{ name }}</div> -->
  <div>hello world, joe</div>
  <div>hello world, scott</div>
  {% for article in article_list %}
    <div>{{ article.title }}</div>
  {% endfor %}
</div>
{% endblock %}
